/*
=============== 
Variables
===============
*/

:root {
  --violet-100: #e2e0ff;
  --violet-200: #c1beff;
  --violet-300: #a29dff;
  --violet-400: #837dff;
  --violet-500: #645cff;
  --violet-600: #504acc;
  --violet-700: #3c3799;
  --violet-800: #282566;
  --violet-900: #141233;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--grey-100);
}
.container {
  padding: 2rem;
  display: grid;
  row-gap: 1.5rem;
  height: 160px;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
}
h4 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
form {
  display: flex;
  flex-wrap: wrap;
}
input[type="color"] {
  height: 42px;
  background-color: var(--clr-white);
  border-color: var(--clr-white);
}
input[type="text"] {
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
input[type="text"].error {
  border: 2px solid var(--clr-red-dark);
}
button {
  cursor: pointer;
  color: var(--clr-white);
  background: var(--violet-500);
  border: transparent;
  padding: 0.375rem 0.75rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-transform: capitalize;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  letter-spacing: 2px;
}
button:hover {
  background-color: var(--violet-700);
}
.colors-container {
  min-height: calc(100vh - 160px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}
.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
}
.percent-value {
  line-height: 1.5;
  margin-bottom: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}
.color-value {
  line-height: 1.5;
  margin-bottom: 0.25rem;
  cursor: pointer;
  font-size: 1rem;
}
