/*
=============== 
Variables
===============
*/

:root {
  --blue-100: #c5e5fc;
  --blue-200: #a5d5f8;
  --blue-300: #8bcbf9;
  --blue-400: #6ebef7;
  --blue-500: #49a6e9;
  --blue-600: #2d87c8;
  --blue-700: #1a6aa2;
  --blue-800: #104e7a;
  --blue-900: #063251;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  --backgroundColor: var(--grey-50);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--grey-50);
}
nav {
  background: var(--white);
  box-shadow: var(--shadow-1);
}
.header-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
img {
  width: 3rem;
  height: 3rem;
}
.nav-toggle {
  display: none;
  border: none;
  color: var(--blue-500);
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}
/* .links-container {
  height: auto !important;
} */
.links {
  display: flex;
  gap: 0.2rem;
}
ul {
  list-style-type: none;
}
.links a {
  color: var(--grey-700);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  display: block;
  padding: 0.5rem 1rem;
}
.links a:hover {
  color: var(--blue-500);
  text-decoration: underline;
}
a {
  text-decoration: none;
}
.social-icons {
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
  gap: 0.8rem;
}
.social-icons a {
  color: var(--blue-500);
}
@media screen and (max-width: 800px) {
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .nav-header {
    width: 90vw;
    display: flex;
    justify-content: space-between;
  }
  /* INFO: css for smooth transition */
  /* .links-container {
    height: 0 ;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links {
    height: 15rem;
    } */
  /* INFO: css for auto-adjusting container */
  .links-container {
    overflow: hidden;
    transition: var(--transition);
  }
  .links {
    width: 100vw;
    display: flex;
    margin-top: 0.5rem;
    flex-direction: column;
  }
  .links li {
    margin-left: 1rem;
  }
  .links a {
    width: 100vw;
  }
  .links a:hover {
    color: var(--blue-500);
    text-decoration: underline;
  }
  .social-icons {
    display: none;
  }
  .nav-toggle {
    display: block;
    transition: var(--transition);
  }
  .nav-toggle:hover {
    color: var(--blue-700);
    transform: rotate(90deg);
  }
}
