/*
=============== 
Variables
===============
*/

:root {
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;
  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(209, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  text-align: center;
  margin-top: 4rem;
}
.underline {
  height: 0.25rem;
  width: 5rem;
  background: var(--primary-600);
  margin-left: auto;
  margin-right: auto;
}
.main-container {
  width: 40vw;
  height: 60vh;
  margin: 4rem auto;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
.main-container:hover {
  box-shadow: var(--dark-shadow);
}
.person-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
  border-right-color: var(--primary-500);
}
.quotes {
  position: absolute;
  top: 2rem;
  left: 14rem;
  /* font-size: 2rem; */
  background-color: var(--primary-500);
  color: white;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
h2 {
  margin-bottom: 0.5rem;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  text-transform: uppercase;
  color: var(--primary-600);
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 0.75rem;
}
h4 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  margin-bottom: 0.75rem;
  line-height: 1.5;
  color: #475569;
  text-align: center;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.next-prev-btn {
  display: flex;
  justify-content: space-around;
  margin: 0.7rem;
}
.prev-btn {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--primary-500);
}
.next-btn {
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--primary-500);
}
.random-btn {
  color: var(--primary-200);
  background: var(--primary-700);
  margin-bottom: 0.5rem;
  border: none;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  transition: var(--transition);
}
.random-btn:hover {
  color: var(--primary-700);
  background: var(--primary-200);
}
